/** @format */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}
/* 
main .container {
    width: 100%;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    height: 90vh;
    margin: 5vh auto;
} */

.app-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  opacity: 0.5;
  color: #fff;
}

.todo-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

input[type='checkbox'] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  content: '✓';
  font-size: 20px;
  display: none;
}

.done .tick::before {
  display: inline;
}

.delete-todo {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.delete-todo i {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(1, 123, 123, 0.42);
}

.button:focus,
.button:active {
  outline: none;
}

/* Add this below all the other styles */

.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checklist-icon,
.empty-state__title {
  margin-bottom: 20px;
}

/* Add this below the other styles */
.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}

#login-message,
#name-message,
#username-message,
#password-message {
  color: #f54605;
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.mh-100vh {
  min-height: 100vh;
}